@charset "UTF-8";

/*//////////////////////////////////////////////////////////////////////////////

styles.css

--------------------------------------------------------------------------------

 000. common
 001. content-profile
 002. content-present

//////////////////////////////////////////////////////////////////////////////*/

/* 000. common
 * サイトで共通のスタイルを定義します
 * ========================================================================== */
body {
	color            : #2d2d2d;
	font-family      : 'メイリオ', Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", 'ＭＳ Ｐゴシック', sans-serif;
	background-color : #fffeea;
	}

/* ナビゲーションバーのカスタマイズ */
.navbar-inverse {
	padding-top    : 15px;
	padding-bottom : 15px;
	border-color   : #2d2d2d;
	background     : #2d2d2d;
	}
	.navbar-inverse .navbar-toggle {
		border-color : #444444;
		}
	.navbar-inverse .navbar-brand {
		color       : #999999;
		font-family : "Dosis", sans-serif;
		font-size   : 24px;
		font-weight : 700;
		}
	.navbar-inverse .navbar-brand:hover {
		color : #ffffff;
		}

	.navbar-inverse .navbar-nav {
		font-family : "Dosis", sans-serif;
		font-size   : 16px;
		font-weight : 700;
		}
		.navbar-inverse .navbar-nav > li > a {
			color                 : #999999;
			-webkit-border-radius : 8px;
			-moz-border-radius    : 8px;
			border-radius         : 8px;
			}
			.navbar-inverse .navbar-nav > li > a .glyphicon {
				margin-right : 4px;
				}
		.navbar-inverse .navbar-nav > li > a:hover {
			color : #ffffff;
			}
		.navbar-inverse .navbar-nav > .active > a {
			color            : #ffffff;
			background-color : #ffb423;
			}
		.navbar-inverse .navbar-nav > .active > a:hover {
			color            : #ffffff;
			background-color : #000000;
			}

/* 見出しのスタイル */
h1, h2, h3 {
	font-family : "Dosis",'メイリオ', Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", 'ＭＳ Ｐゴシック', sans-serif;
	font-weight : 700;
	}

/* 001. content-profile
 * Profileページ固有のスタイルを定義します
 * ========================================================================== */
#content-profile {}

	#btn-social {
		margin-top : 10px;
		}

	#section-data {}
		#section-data ul {
			background : #f2f0d1;
			padding    : 20px;
			-webkit-border-radius : 5px;
			-moz-border-radius    : 5px;
			border-radius         : 5px;
			}
			#section-data ul li {
				margin-top : 10px;
				}
			#section-data ul li:first-child {
				margin-top : 0;
				}
				#section-data ul li p {
					margin : 0;
					}

	#section-history {}
		#section-history .table-striped {
			background : #fffeea;
			}
			#section-history .table > thead > tr > th,
			#section-history .table > tbody > tr > th,
			#section-history .table > tfoot > tr > th,
			#section-history .table > thead > tr > td,
			#section-history .table > tbody > tr > td,
			#section-history .table > tfoot > tr > td {
				border-top : 1px solid #e0dfc3;
				}
			#section-history .table-striped > tbody > tr:nth-child(odd) > td,
			#section-history .table-striped > tbody > tr:nth-child(odd) > th {
					background-color : #f2f0d1;
				}

/* 002. #content-present
 * Presentページ固有のスタイルを定義します
 * ========================================================================== */
#content-present {}